@(message: String)

@Main("Play Responsive Castle High") {
  <div class="container">
    <div class="row">
      <div class="row">
        <div class="col-md-3">
          <div class="well">
            <p>Information</p>
            About Us<br>
            Administration<br>
            Athletics<br>

            Bell Schedule<br>

            Calendar<br>

            Counselors<br>

            Daily Bulletin<br>

            Directories<br>

            Knightly News<br>

            Library<br>

            Lunch Menu<br>

            Small Learning Communities<br>
          </div>
        </div>
        <div class="col-md-6 hidden-xs">
          <div class="well">
            <img id="knight" src="http://castlehs.k12.hi.us/images/frontpage.jpg" alt="Knight Pride">
          </div>
        </div>


        <div class="col-md-3">
          <div class="well">
            <p>Announcements</p>
            Wednesday,March 4<br>
            Periods 2, 4, 6<br>
            <br>
            Thursday, March 5<br>
            Periods 1, 3, 5, 7<br>
            <br>
            Friday,March 6<br>
            Periods 2, 4, PTP, 6<br>
            <br>
          </div>
        </div>
      </div>
    </div>
  </div>
}